<div class = "container">
  <div class = "panel panel-default table">
    <div class = "panel-heading text-center"><h1><%= t("users") %></h1></div>
    <div class = "panel-body">
      <%= render "table_all_users" %>
    </div>
  </div>
</div>


 