<div class = "container">
  <div class = "panel panel-default table">
    <div class = "panel-heading text-center"><h1><%= t("roles") %></h1></div>
    <div class = "panel-body">
      <%= render "roles/btn/btn_new_role" %>
      <%= render "table_all_roles" %>
    </div>
  </div>
</div>
