<table class = "table table-bordered table-hover">
  <tr class = "jumbotron">
    <td class="text-center"><%= t("users") %></td>
    <td class="text-center"><%= t("del") %></td>
  </tr>
  <%= render "users_on_role"%>
</table>