<div class = "container">
  <div class = "panel panel-default table">
    <div class = "panel-heading text-center"><h1><%= t("role_edit") %></h1></div>
    <div class = "panel-body">
      <%= render "roles/form/form_edit_role" %>
    </div>
  </div>
</div>