<div class = "container">
  <div class = "panel panel-default table">
    <div class = "panel-heading text-center"><h1><%= t("role_new") %></h1></div>
    <div class = "panel-body">
      <%= render "roles/form/form_create_role" %>
    </div>
  </div>
</div>
