.lable_email{ 
   margin-left: 73px;
}
.left_top7{
  float: left;
  margin-top: 7px;
}
.left_top5{
  float: left;
  margin-top: 5px;
}
.email_confirmation{
  margin-left: 15px;
}
.lable_password_edit{
  margin-left: 70px;
}
.lable_pass_edit{
  margin-left: 44px;
  margin-top: 10px;
  float: left; 
}
.email{
  float: left; 
  margin-left: 6px;
}
.links{
  margin-left: 10px;
}
.width_panel_passwords_new{
  width: 445px;  
}
.width_panel_confirmations{
  width: 295px;  
}
.width_panel_passwords_edit{
  width: 500px;  
}
.width_panel{
  width: 425px;  
}
.panel_devise{  
  border: 2px solid #A9A9A9;
  margin: auto; 
  margin-top: 10%;
}
.label_password_and_button{
  float: left;
  margin-left: 60px;
  margin-top: 10px;
}
.password{
  margin-left: 5px; 
}
.width_panel_reg{
  width: 380px;  
}
.label_email_reg{
  margin-left: 89px;
}
.email_reg_and_password_confirmation_edit{
  float: left; 
  margin-left: 5px;
}
.label_password_reg{
  float: left; 
  margin-top: 10px; 
  margin-left: 75px;
}
.password_reg{
  float: left; 
  margin-left: 5px; 
  margin-top: 5px;
}
.label_password_confirmation_and_button{
  float: left; 
  margin-top: 10px;
}
.pading_reg{
  margin-left: 85px;
}
.hello{
  margin-top: 15px;
  color: #A9A9A9;
}
.alert-error { 
  background-color: #f2dede;
  border-color: #eed3d7;
  color: #b94a48;
  text-align: left;
 }

.alert-alert {
  background-color: #f2dede;
  border-color: #eed3d7;
  color: #b94a48;
  text-align: left;
 }

.alert-success {
  background-color: #dff0d8;
  border-color: #d6e9c6;
  color: #468847;
  text-align: left;
 }

.alert-notice {
  background-color: #dff0d8;
  border-color: #d6e9c6;
  color: #468847;
  text-align: left;
 }
 .flash-notice {
   margin-top: 50px
 }
.border{
  display: inline-block;
}
.border_riht{
  border-right: 2px solid #BEBEBE;
  padding-right: 4px;
}