.container {
  width: 100% !important;
}
.panel-filter{
  display: inline-block;
  float: left;
}
.table{
  margin-top: 20px;	
}
.button_filter{
  display: inline-block;
}
.clear_filter{ 
  margin-left: 10px;
}
.panel-body{
  width: 100%;
}
.button_task_all{
  width: 105px; 
  float: right; 
  margin-right: 15px; 
  margin-top: 165px;
}
.datetimepicker1{
  float: left;
  margin-left: 5px;
}
.datetimepicker2{
  float: left;
}
.states_form{
  margin-right: 10px;
}
.glyphicon-link{
 margin-top: 5px;
 padding-right: 2px; 
 padding-left: 2px;
}