.btn_edit_role{
  float: left;
  margin-left: 65px;
}
.btn_del_role{
  float: right;
  margin-right: 70px;
}
.btn_new_role{
  float: right;
  margin-bottom: 10px;
}
.width_td{
  width: 400px;
}
.width_table{
width: 10px;
}