.states{
  float: left; 
  margin-left: 5px;
  margin-top: 0px;
}
.datetimepicker{
  margin-top: 10px;
}
.filter{
  margin-top: 10px;
}
.table_tasks_index{
  margin-top: 20px;
}
.filter_panel{
  width: 480px; 
  float: left;
}
.button_clear{
  width: 105px; 
  float: right;
   margin-right: 240px;
}
.search_form_tasks{
  float: left;
}
.right_width_105{
  width: 105px; 
  float: right;
}
.button_all_projects{ 
  margin-right: 25px;
  margin-top: 165px;
}
.btn_all_projects{
  margin-right: 30px;
  margin-top: 165px;
}
.button_tasks_all{
  margin-right: 15px; 
}
.button_all_projects_show{
  margin-right: 30px;
}
